<div class="well">
  <ul class="nav nav-list">
	<li class="nav-header">
	  <%= object_context_nav_header %>
	</li>
	<% object_context_nav_items.each do |item| %>
	<li>
	  <%= item %>
	</li>
	<% end %>
  </ul>
</div>

