<li class="dropdown">
  <%= link_to fcrepo_admin.object_datastreams_path(object), :class => "dropdown-toggle", :id => "dLabel", :role => "button", :'data-toggle' => "dropdown", :'data-target' => "#" do %>
	<%= t("fcrepo_admin.object.nav.items.datastreams") %>
    <b class="caret"></b>
  <% end %>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
	<% object.datastreams.keys.each do |dsid| %>
	<li>
	  <%= link_to dsid, fcrepo_admin.object_datastream_path(object, dsid) %>
	</li>
	<% end %>
  </ul>
</li>
