<h4><%= t("fcrepo_admin.object.permissions.direct") %></h4>
<% if object.has_permissions? %>
  <%= render :partial => 'permissions_list', :locals => {:permissions => object.permissions} %>
<% else %>
  <div class="alert">
	<%= t("fcrepo_admin.object.permissions.not_supported") %>: <%= object_type %>.
  </div>
<% end %>
