<div class="fcrepo-admin">
  <h3><%= t("fcrepo_admin.object.more_info") %></h3>
  <ul>
	<li>
      <%= link_to t("fcrepo_admin.audit_trail.title"), fcrepo_admin.object_audit_trail_index_path(pid) %>
	</li>
  </ul>
</div>
