<% if permissions.empty? %>
<p>
  <%= t("fcrepo_admin.object.permissions.no_permissions") %>
</p>
<% else %>
<table class="table table-bordered table-condensed">
  <%= render :partial => "permissions_header" %>
  <tbody>
	<%= render :partial => "permissions_row", :collection => permissions, :as => :permission %>
  </tbody>
</table>
<% end %>
