<h3><%= t("fcrepo_admin.object.properties.title") %></h3>

<table class="table table-condensed table-bordered">
  <% object_properties.each do |key, value| %>
  <tr>
	<th scope="row"><%= t("fcrepo_admin.object.properties.keys.#{key}") %>:</th>
	<td><%= value %></td>
  </tr>
  <% end %>
</table>
