<h3><%= t("fcrepo_admin.object.properties.title") %></h3>
<dl class="dl-horizontal">
  <% object_properties.each do |key, value| %>
  <dt><%= t("fcrepo_admin.object.properties.keys.#{key}") %>:</dt>
  <dd><%= value %></dd>
  <% end %>
</dl>
