<table class="table table-bordered table-condensed">
  <% properties.each do |key, value| %>
    <tr>
	  <th scope="row"><%= t("fcrepo_admin.object.properties.keys.#{key}") %></th>
	  <td><%= value %></td>
    </tr>
  <% end %>
</table>
