<div class="document" style="border-bottom: none">
   <%= render :partial => 'catalog/show_default', :locals => {:document => @document} %>
</div>
<div class="row">
  <div class="span5">
	<%= render :partial => 'datastreams', :locals => {:object => @object} %>
  </div>
  <div class="span4">
	<%= render 'properties' %>
  </div>
</div>

