<% if inline %>
  <pre class="prettyprint pre-scrollable"><%= datastream.content %></pre>
  <p>
    <%= link_to "Download", fcrepo_admin.download_datastream_path(datastream.pid, datastream.dsid) %>
  </p>
<% else %>
  <p>
    The datastream content is not text.  Please <%= link_to "Download", fcrepo_admin.download_datastream_path(datastream.pid, datastream.dsid) %>.
  </p>
<% end %>
