<div class="well">
  <ul class="nav nav-list">
	<li class="nav-header">
	  Admin Tools
	</li>
	<li>
	  <%= link_to_unless_current "Object Summary", fcrepo_admin.object_path(pid) %>
	</li>
	<li>
	  <%= link_to_unless_current "Audit Trail", fcrepo_admin.object_audit_trail_index_path(pid) %>
	</li>
  </ul>
</div>
