<% content_for :main do %>
  <h1><%= object_title %></h1>
  <%= yield %>
<% end %>
<% content_for :sidebar do %>
  <%= render :partial => 'fcrepo_admin/objects/context_nav_items', :locals => {:object => @object}, :layout => 'fcrepo_admin/shared/context_nav_list' %>
<% end %>
<%= render :template => 'layouts/fcrepo_admin/default' %>
