<h1><%= @title %></h1>

<h3>Preservation Events</h3>

<div class="pagination">
  <%= render_pagination_info @response %>
</div>

<%= render_document_index %>

<div class="pagination">
  <%= paginate_rsolr_response @response, :theme => 'blacklight' %>
</div>
