<h4>Content</h4>
<% if datastream.content_is_text? %>
  <pre class="prettyprint pre-scrollable"><%= datastream.content %></pre>
<% else %>
  <div class="alert">
    <%= t("fcrepo_admin.datastream.content_not_text") %>.
  </div>
<% end %>
