<div class="well">
  <ul class="nav nav-list">
	<li class="nav-header">
      <%= datastream_context_nav_header %>
	</li>
	<% unless datastream.current_version? %>
	  <li>
		<%= render_datastream_version %>
	  </li>
	<% end %>
	<% datastream_context_nav_items.each do |item| %>
	  <li>
		<%= item %>
	  </li>
	<% end %>
  </ul>
</div>

