<% if inline %>
  <pre class="prettyprint pre-scrollable"><%= datastream.content %></pre>
<% else %>
  <p>
    <%= t("fcrepo_admin.datastream.content_not_text") %>.
  </p>
<% end %>
<p>
  <%= link_to t("fcrepo_admin.datastream.download"), "#{fcrepo_admin.object_datastream_path(datastream.pid, datastream.dsid)}?download=true", :class => "btn btn-primary" %>
</p>

