<h4>History</h4>
<table class="table table-condensed table-bordered" style="width: auto">
  <thead>
	<tr>
	  <th scope="col"><%= t("fcrepo_admin.datastream.profile.dsVersionID") %></th>
	  <% datastream_history_columns.each do |col| %>
	  <th scope="col"><%= t("fcrepo_admin.datastream.profile.#{col}") %></th>
	  <% end %>
	</tr>
  </thead>
  <tbody>
	<% @datastream.versions.each do |dsVersion| %>
	<tr>
	  <td><%= link_to_datastream_version dsVersion %></td>
	  <% datastream_history_columns.each do |col| %>
	  <td><%= dsVersion.profile[col] %></td>
	  <% end %>
	<% end %>
  </tbody>
</table>
