<h4><%= t("fcrepo_admin.datastream.upload.header") %></h4>
<%= form_tag fcrepo_admin.object_datastream_path(@datastream.pid, @datastream.dsid), :method => :put do %>
<div>
  <%= file_field_tag "file" %>
</div>
<p>
  <%= submit_tag t("fcrepo_admin.datastream.upload.submit"), :confirm => t("fcrepo_admin.datastream.upload.confirm"), :class => "btn btn-primary" %>
</p>
<% end %>

