<h3><%= t("fcrepo_admin.object.associations.title") %>: <%= @association.name %></h3>

<!-- <pre><%= @response %></pre> -->

<% unless @documents.blank? %>
  <%= render_document_index @documents %>
<% else %>
  <div class="alert">
	No associated objects found.
  </div>
<% end %>
