<h3><%= t("fcrepo_admin.object.associations.title") %>: <%= @association.name %></h3>

<% if @response.total > 0 %>
  <%= content_tag :ol, :start => @response.params[:start].to_i + 1 do %>
    <% @documents.each do |doc| %>
	  <li>
		<%= link_to doc.id, fcrepo_admin.object_path(doc.id) %>
	  </li>
	<% end %>
  <% end %>
<% else %>
  <div class="alert">
	No associated objects found.
  </div>
<% end %>
